
mixin MenuItemLink (title, href= "#" )
	li.header-menu-item
		a.header-menu-link(href= href)=title

mixin HeaderBottomItem (number = "0", text = "text" )
	.header-bottom-item
		span.header-bottom-number= number
		span.header-bottom-text= text

mixin BlockBox(caption, title, desc)
	.block-box
		h3.block-box-caption= caption
		h2.block-box-heading= title
		if desc
			p.block-box-desc= desc

mixin AboutItem(src, classIcon, title, alt = "")
	.about-item
		img.about-image(src= src alt= alt)
		.about-content
			i(class= classIcon).about-icon
			span.about-title= title

mixin NumberItem(count, text)
	li.number-item
		h4.number-count= count
		span.number-text= text

mixin ServiceItem(src, title, desc, alt = "")
	li.service-item
		img.service-item-icon(src= src, alt= alt)
		.service-item-content
			h3.service-title= title
			p.service-desc= desc

mixin WedoItem (src, title, iconClass, content, active = "", alt = "")
	li.wedo-accordion(class= active)
		.wedo-accordion-header
			img.wedo-accordion-icon(src= src)
			h3.wedo-accordion-title= title
			i(class= iconClass).wedo-accordion-arrow
		.wedo-accordion-content
			p.wedo-accordion-text= content


mixin QuoteContent(src, desc, quote, alt = "")
	i.fal.fa-angle-left.quote-arrow.quote-arrow-left
	.quote-content
		.quote-icon
			img(src= src, alt= alt)
		.quote-info
			p.quote-desc= desc
			span.quote-author= quote
	i.fal.fa-angle-right.quote-arrow.quote-arrow-right

mixin SocialLink(fb = "#", tw = "#", pin ="#", ins="#")
	ul.team-social
		li.team-social-item
			a.team-social-link(href= fb)
				i.fab.fa-facebook-f
		li.team-social-item
			a.team-social-link(href= tw)
				i.fab.fa-twitter
		li.team-social-item
			a.team-social-link(href= pin)
				i.fab.fa-pinterest
		li.team-social-item
			a.team-social-link(href= ins)
				i.fab.fa-instagram

mixin TeamItem(src, name, position, alt = "")
	li.team-item
		.team-main
			img.team-image(src= src, alt= alt)
			.team-content
				if block
					block
		.team-info
			h3.team-name= name
			span.team-position= position

mixin WorkItem (src, icon, title, desc, full = "")
	.work-item(class= full)
		img.work-image(src= src)
		.work-content
			i.work-icon(class= icon)
			h3.work-title= title
			span.work-desc.text.text--light= desc

mixin PeopleItem (src="../images/img-people1.png", name = "Matthew Dix", job=" Graphic Design", desc="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque porro illum reiciendis unde praesentium illo iure ipsum eligendi, reprehenderit similique fugiat sunt minus odit hic vero deleniti consequuntur vitae? Optio?")
	li.people-item
		img.people-avatar(src= src)
		.people-info
			h3.people-name= name
			span.people-job.text.text--light= job
			p.people-desc.text.text--normal= desc

mixin FooterBlog(href= "#", src="../images/img-blog1.png", title="Lorem ipsum dolor sit, amet consectetur adipisicing elit.", date ="Jan 9, 2021")
	a(href= href)
		.footer-blog
			img.footer-blog-image(src= src)
			.footer-blog-info
				h4.footer-blog-title= title
				span.footer-blog-date.text= date

mixin FooterImage(src= "https://images.unsplash.com/photo-1517102901587-6f4a9ad72db4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1486&q=80")
	.footer-image
		img(src= src)

mixin StoryItem(src="../images/img-blog1.png", number = 15, text= "Jan", title="Lorem ipsum dolor, sit amet ", desc="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, alias debitis! Vel itaque explicabo eligendi qui iure saepe architecto corrupti, facere sint, maiores ipsam suscipit ab? Eius quia sint porro!",view= 542, comment= 18)
	li.story-item
		.story-media
			img.story-image(src= src)
			.story-date
				span.story-date-number= number
				span.story-date-text.text= text
		h3.story-title= title
		.story-desc
			p.story-desc-inner.text.text--normal= desc
		.story-meta
			.story-meta-item
				i.fa.fa-eye.story-meta-icon
				span.story-meta-number.text= view
			.story-meta-item
				i.fa.fa-comment.story-meta-icon
				span.story-meta-number.text= comment